@{
    ViewData["Title"] = "Index";
}

@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Testimonial>
@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Customer Name</th>
                <th>Company Name</th>
                <th>FeedBack</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><img width="70" src="~/assets/images/@item.Image" /></td>
                    <td>@item.CustomerName</td>
                    <td>@item.CompanyName</td>
                    <td>@item.FeedBack</td>
                    <td><a asp-controller="Testimonial" asp-action="Edit" asp-area="Manage" asp-route-id="@item.Id" class="text-info">Edit</a></td>
                    <td><a asp-controller="Testimonial" asp-action="Delete" asp-area="Manage" asp-route-id="@item.Id" class="text-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
}
else
{
    <h1 class="display-4">Testimonial page is empty</h1>
}

